@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    transition: all 0.5s;
}

input {
  position: relative;
  background: #fff;
  color: black;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(2,83,179, 0.4);
  border: 0;
  outline: 0;
  padding: 15px 15px;
  margin: 5px 0;
  transition: all 0.2s;
  color: gray;
  font-weight: 550;
  height: 20px;
  border-radius: 5px;

}
input:focus{
    box-shadow: 0 6px 10px 0 rgba(2,83,179, 0.6);
}

button{
    width: 80px;
    height: 50px;
    background: #18a4e0;
    color: #ffff;
    font: inherit;
    box-shadow: 2px 6px 10px 0 rgba(2,83,179, 0.4);
    border: 0;
    outline: 0;
    padding: 0;
    margin-top: 10px;
    font-weight: 550;
    transition: all 0.2s;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #ffff;
    color: #18a4e0;
    box-shadow: 0 8px 12px 0 rgba(2,83,179, 0.6);
}